# Ignore build output
bin/
obj/
packages/
dist/
tmp/
out-tsc/
bazel-out/

# Ignore Node packages
node_modules/
npm-debug.log
yarn-error.log

# Ignore IDE and editor files
WebApp/.idea/
WebApp/.project
WebApp/.classpath
WebApp/.c9/
WebApp/*.launch
WebApp/.settings/
WebApp/*.sublime-workspace
WebApp/.history/
WebApp/.vscode/

# Ignore Angular cache and Sass cache
WebApp/.angular/cache/
WebApp/.sass-cache/

# Ignore test and coverage files
WebApp/connect.lock
WebApp/coverage/
WebApp/libpeerconnection.log
WebApp/testem.log
WebApp/typings/

# Ignore system files
WebApp/.DS_Store
WebApp/Thumbs.db

# Ignore files in CookBook
.idea/.idea.CookBook/.idea
bin/Debug/net6.0
CookBook/bin/
CookBook/obj/
CookBook/packages/
CookBook/riderModule.iml
CookBook/_ReSharper.Caches/